<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="false">
	<display-name>SemanticCMS Core Docs</display-name>

	<!-- Everything below this line is the same for all docs installations -->

	<!-- Filter to set request character encoding to UTF-8 -->
	<filter>
		<filter-name>Utf8RequestCharacterEncodingFilter</filter-name>
		<filter-class>com.aoindustries.servlet.filter.Utf8RequestCharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Utf8RequestCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<!-- Filter to strip invalid XML characters from incoming parameters -->
	<filter>
		<filter-name>StripInvalidXmlCharactersFilter</filter-name>
		<filter-class>com.aoindustries.servlet.filter.StripInvalidXmlCharactersFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>StripInvalidXmlCharactersFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<!-- Filter to block direct access to *.inc.jspx, *.inc.jsp and *.jspf files -->
	<filter>
		<filter-name>NotFoundFilter</filter-name>
		<filter-class>com.aoindustries.servlet.filter.NotFoundFilter</filter-class>
		<init-param>
			<param-name>patterns</param-name>
			<param-value>*.inc.jspx, *.inc.jsp, *.jspf</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>NotFoundFilter</filter-name>
		<url-pattern>*.jspx</url-pattern>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.jspf</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<!-- Cleans-up temp files created during request processing. -->
	<filter>
		<filter-name>TempFileContext</filter-name>
		<filter-class>com.aoindustries.servlet.filter.TempFileContext</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TempFileContext</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<!-- Prevents any sessions from being created -->
	<filter>
		<filter-name>NoSessionFilter</filter-name>
		<filter-class>com.aoindustries.servlet.filter.NoSessionFilter</filter-class>
		<init-param>
			<param-name>cookieNames</param-name>
			<param-value>user</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>NoSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<!-- Filter to remove .jspx and .jsp file extensions -->
	<filter>
		<filter-name>HideJspExtensionFilter</filter-name>
		<filter-class>com.aoindustries.servlet.filter.HideJspExtensionFilter</filter-class>
		<init-param>
			<param-name>noRewritePatterns</param-name>
			<!-- Do not rewrite the *.inc.jspx or *.inc.jsp files because the rewritting would allow bypass of the forced 404 above -->
			<param-value>*.inc.jspx, *.inc.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>HideJspExtensionFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<!-- Filter unnecessary whitespace -->
	<filter>
		<filter-name>TrimFilter</filter-name>
		<filter-class>com.aoindustries.servlet.filter.TrimFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TrimFilter</filter-name>
		<url-pattern>*.jspx</url-pattern>
		<url-pattern>*.jsp</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<!-- Set the context for taglib functions -->
	<filter>
		<filter-name>FunctionContextFilter</filter-name>
		<filter-class>com.aoindustries.servlet.filter.FunctionContext</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FunctionContextFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<!-- Servlet to rewrite CSS files to include lastModified parameters -->
	<servlet>
		<servlet-name>LastModifiedServlet</servlet-name>
		<servlet-class>com.aoindustries.servlet.http.LastModifiedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LastModifiedServlet</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<!-- Enable automatic file listings -->
	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>listings</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- Default to index.jspx then index.jsp -->
	<welcome-file-list>
		<welcome-file>index.jspx</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
